.servicescontainer {
    flex-direction: column;
}

.servicescontainer .box {
    padding: 14px;
    margin: 3px 6px;
    border: 2px solid red;
    background-color: rgb(206, 182, 182);
    border-radius: 15px;
}

.clients {
    flex-wrap: wrap;
}

#navbar {
    flex-direction: column;
}

#home {
    height: 370px;
    padding: 3px 68px;
}

#home::before {
    height: 490px;
}

#home p {
    font-size: 12px;
}

h1.primarycenter {
    font-size: 26px;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 10px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}

.clients img {
    width: 68px;
    height: auto;
}

.contactsection form {
    width: 80%;
}